@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
    --clr-primary: #0d121d;
    --clr-secondary: #000000;
    --clr-neutral: #767f92;

    --clr-white: #f1f2f9;
    --clr-blue: #2187d0;
    --clr-red: #f45353;
    --clr-green: #25ce8f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------ */

html {
    font-family: "DM Sans";
    color: var(--clr-white);
    overflow: scroll;
    overflow-x: hidden;
}

// Materil UI TextField

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.apexcharts-tooltip {
    box-shadow: 0 0 10px 10px white;
}
.mui-style-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
    + .MuiSwitch-track {
    background-color: #6000ff !important;
}

.bg-gradient1 {
    background: linear-gradient(120deg, #6000ff, #6000ff, #3453ff);
    background-size: 110%;
}

.mui-style-1x51dt5-MuiInputBase-input-MuiInput-input.Mui-disabled {
    -webkit-text-fill-color: white !important;
}
.mui-style-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
    background-color: transparent !important;
}

// Custom scrollbar
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(
        90deg,
        #6000ff,
        rgb(96, 0, 255, 0.3),
        rgb(96, 0, 255, 0)
    );
    background-size: 100%;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 0px;
}

// Highcharts
.highcharts-no-tooltip.highcharts-button.highcharts-button-normal {
    text {
        fill: white !important;
    }
}
.highcharts-no-tooltip.highcharts-button.highcharts-button-hover:hover {
    text {
        fill: black !important;
    }
}

// Material UI Data Grid
.mui-style-f3jnds-MuiDataGrid-columnHeaders {
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

.mui-style-1e2bxag-MuiDataGrid-root .MuiDataGrid-cell {
    border-bottom: none;
}

.MuiDataGrid-columnHeaders.mui-style-f3jnds-MuiDataGrid-columnHeaders {
    max-height: 42px !important;
    height: 42px !important;
    min-height: 42px !important;
}
.MuiDataGrid-row {
    max-height: 35px !important;
    height: 35px !important;
    min-height: 35px !important;
}

.MuiDataGrid-columnHeader.MuiDataGrid-columnHeader--alignCenter {
    outline: none !important;
}
.MuiDataGrid-cell--withRenderer.MuiDataGrid-cell.MuiDataGrid-cell--textCenter {
    outline: none !important;
    overflow: visible !important;
    border: none !important;
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar {
    width: 8px;
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb {
    background: linear-gradient(
        90deg,
        #3453ff,
        rgb(96, 0, 255, 0.3),
        rgb(96, 0, 255, 0)
    );
    background-size: 100%;
    border-radius: 10px;
}
.MuiDataGrid-columnHeaders {
    border-bottom: 2px solid rgb(255, 255, 255, 0.1) !important;
}
